name: Automation excercise project Github Action CI/CD workflow

on:
 push:
   branches: [ "main" ]
 pull_request:
   branches: [ "main" ]

 workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
    
      - name: run the playwright project
        run: npx playwright test --grep=@yee --project="chromium" --reporter=line,allure-playwright
      
      - name: clear the old allure results
        run: rmdir /s /q allure-results

      - name: generate and open the allure report
        run: |
          allure generate ./allure-results --clean -o ./allure-report,
          allure open ./allure-report